<h2>All Assets</h2>

<% if @assets.any? %>
  <ul>
    <% @assets.each do |asset| %>
      <li>
        <strong><%= asset.name %></strong>: <%= asset.description %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No assets available yet.</p>
<% end %>