/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "variables";
@import "bootstrap";

// Global styles
body {
  background-color: #22223b; // Light gray background
  color: #f2e9e4; // Dark gray text color
}

h1, h2, h3, h4, h5, h6 {
  color: #f2e9e4; // Bootstrap primary color for headings
}

.navbar {
  background-color: #4a4e69; // Dark background for navbar
  .navbar-brand {
    color: #f2e9e4; // White text for navbar brand
  }
  .nav-link {
    color: #f2e9e4; // White text for navbar links
  }
}

.card {
  background-color: #4a4e69; // White background for cards
  border: 1px solid #9a8c98; // Light gray border for cards
  .card-title {
    color: #f2e9e4; // Bootstrap primary color for card titles
  }
  .card-text {
    color: #f2e9e4; // Bootstrap secondary color for card text
  }
}

.preview-container {
  position: relative;
  width: 100%;
  background: #4a4e69;
  overflow: hidden;
  
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Card-specific styling
  .card & {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}

.avatar-img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the entire area */
}

.three-d-file-description,
.three-d-file-details {
  color: #f2e9e4; // Light text color
}

a {
  color: #f2e9e4; // Light text color for links
  text-decoration: none; // Remove underline from links
}

a:hover {
  color: #c9ada7; // Different color for links on hover
  text-decoration: underline; // Underline links on hover
}